.container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: clamp(1rem, 5vw, 10%);
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    /* animation-iteration-count: infinite; */
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    /* 75% {
      margin-left: 25%;
      width: 150%;
      font-size: 300%;
    } */

    to {
        margin-left: 0;
        width: 100%;
    }
}
